@media (max-width: 800px) {
  .login {
    display: none;
  }
  .
}

@media (max-width:650px){
    .search-container{
        display: none;
    }
    .s2{
        justify-content: space-evenly;
    }
    .sl{
        
        justify-content: space-between;
        width: 100px;
    }
    .fa-bars{
        display: flex;
    }
    .j{
        justify-content: space-between;
        
        width: 300px;
        
    }
    .s3{
        display: none;
    }
    .barss{
        display: inline-block;
    }
    
}
@media(max-width:950px){
    .w1{
        display: none;
    }
}
@media(max-width:355px){
    .p1{
        font-size: 12px;
    }
    .p2{
        font-size: 12px;
    }
}
@media(max-width:995px){
    .w1{
        display: none;
    }
    .jr{
        display: none;
    }
}
@media(max-width:767px){
    .s4{
        flex-direction: column;
        align-items: center;
    }
    .l1{
        flex-direction: column;
        align-items: center;
        width: 220px;
        height: 300px;
    }
    .l2{
        flex-direction: column;
        align-items: center;
        width: 220px;
        height: 300px;
    }
    .s5{
        height: 350px;
    }
    

}
@media(max-width:410px){
    .secd{
        flex-direction: column;
        align-items: center;
    }
    .s5{
        height: 550px;
    }
}
@media(max-width:409px){
  .txp{
    font-size: 10px;

  }
  .imgdiv{
    width: 30px;
    height: 30px;
  }
}
@media(max-width:700px){
  .s8{
    flex-direction: column;
    align-items: center;
    height: 100px;
    justify-content: space-around;
  }
    .fdv3{
        display: none;
    }

    .flist{
        display: none;
    }
    .s9{
        flex-direction: column;
        align-items: center;
        
    }
    .fd{
        
        width: 200px;
        height: 50px;
        display: flex;
        align-items: center;
        margin-left: 65px;
        
    }
    .fdwn{
        display: inline-block;
    }
    .equal1{
        display: flex;
        align-items: center;
       
        height: 40px;
    }
    .equal2{
        display: flex;
        align-items: start;
        
        height: 30px;

    }
    .fh1{
        font-size: 20px;
    }
}